@model Restaurant

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

<div class="restaurantbody">
    <div class="restaurantimg">
        <div class="rating">
            <b class="rating-text">Average Rating:</b>
            <div class="average-rating">
                <div class="rating-no" style="background-color:rgba(80,280,10,0.@Math.Round(Model.AverageRating(@Model)))">
                    <b>@Math.Round(Model.AverageRating(@Model), 1)</b>
                </div>
            </div>
        </div>
        <img src="@Model.Image" />
    </div>
    <div class="restaurantdetails">
        <b>Address</b>
        <p> @Model.Street </p>
        <p>@Model.Postal @Model.City </p><br />
        <b>Phone number</b> <p>@Model.PhoneNumber</p><br />
        <b>Cuisine:</b> <p>@Model.Cuisine</p>
    </div>
</div>
<div class="reviews">
    <h2>Reviews</h2>

    <a class="btn btn-primary" asp-controller="Review" asp-action="Create" asp-route-id="@Model.Id">Add new review</a>
    <br /><br />

    @foreach (var review in Model.Reviews)
    {
        <div class="details-review">
            <b>Username:</b>
            <p>@review.UserName</p>

            <b>Comments:</b>
            <p>@review.Comment</p>

            <b>Rating:</b>
            <p>@review.Rating </p>
        </div>
    }

</div>
