@model RestaurantGuide.Entities.Restaurant

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

<div>
    Id: @Model.Id
</div>
<div class="restaurantbody">
    <div class="restaurantimg">
        <img src="@Model.Image" />
    </div>
    <div class="restaurantdetails">
        <b>Address:</b>
        <p> @Model.Street </p>
        <p>@Model.Postal @Model.City </p><br />
        <p>Phone number: @Model.PhoneNumber</p><br />
        <p>Cuisine: @Model.Cuisine</p>
    </div>
</div>